[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nltk = "==3.4"
regex = "==2018.1.10"
unidecode = "==1.0.23"
html2text = "==2018.1.9"
argparse = "*"
mypy = "==0.650"
mypy-extensions = "==0.4.1"
spacy = "==2.0.18"
urllib3 = "==1.24.1"
lxml = "==4.2.5"
simplejson = "==3.15.0"
requests = "==2.21.0"
google-cloud = "==0.34.0"
google-cloud-core = "==0.29.1"
google-cloud-language = "==1.1.1"
google-cloud-storage = "==1.13.2"
google-cloud-vision = "==0.35.2"
pytesseract = "==0.2.6"
opencv-python = "==4.0.0.21"

[packages]


[requires]
python_version = "3.6"
